<!DOCTYPE HTML>

<html>
	<head>
		<title>Peterburtsev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="static/css/main.css" />
		

			
		<style>
   			.text-justify { 
    		text-align: justify; /* Выравнивание по ширине */
   			}
  		</style>


<style>
  body {
    background-image: url('static/img/fon.jpg');
    background-size: cover;
  }
</style>


		
	</head>
	<body>



	<nav>
		<ul class="nav">
			<li><a href="" class="mark">Тестирование UI</a>
				<ul class="sub-nav">
					<li><a href="/run_ui">Все тесты UI</a></li>
					<li><a href="/run_ui_header">Тестирование хедера</a></li>
					<li><a href="/run_ui_footer">Тестирование футера</a></li>
					<li><a href="/run_ui_mainmenu">Тестирование главного меню</a></li>
					<li><a href="/run_ui_search">Тестирование строк поиска</a></li>
					<li><a href="/run_ui_mainpage_info">Тестирование главной страницы</a></li>
					<li><a href="/run_ui_management">Тестирование страницы руководства</a></li>
				</ul>
			</li>

			<li><a href="" class="mark">Тестирование API</a>
				<ul class="sub-nav">
					<li><a href="/run_api">Все тесты API</a></li>
					<li><a href="/run_api_page">Тестирование статус кода страниц сайта</a></li>
					<li><a href="/run_api_search">Тестирование статус кода строки поиска</a></li>
					<li><a href="/run_api_page_404">Тестирование статус кода несуществующих станиц</a></li>
				</ul>
			</li>

			<li><a href="" class="mark">Отчеты</a>
				<ul class="sub-nav">
					<li><a href="/run_allure">Отчеты Allure</a></li>
				</ul>
			</li>

			<li><a href="" class="mark">Нагрузочное тестирование</a>
				<ul class="sub-nav">
					<li><a href="/run_locust">Нагрузочное тестирование Locust</a></li>
				</ul>
			</li>


			<li><a href="#work" class="mark">Работа</a></li>

			<li><a href="#portfolio" class="mark">Образование</a></li>

			<li><a href="#info" class="mark">Информация</a></li>

			<li><a href="#" class="mark">тел.: +375297536952, email: alexeipeterburtsev@gmail.com</a></li>

	</nav>
			
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="static/img/pic00.png" /></span>
						</div>
						<div class="8u 12u(mobile)">
							<header>
								<h1><strong>Алексей Петербурцев</strong></h1>
							</header>
							<p class="text-justify">Всем привет. Меня зовут Алексей, мне 43 года. Этот сайт расскажет вам краткую информацию обо мне.
							Он содержит данные о моей учебе, работе, контактных данных. В 2025 году я прошел обучение на курсах "Ручное и автоматизированное тестирование ПО"
							в ООО "АЙТИ ШАГ СФЕРА". В составе курса ручное тестирование ПО, язык программирования Python, автоматизация тестирования ПО. Составление тест-кейсов в Trello,
							фиксация багов в Jira. Коммуникабельный, ответственный, пунктуальный. Уверенный пользователь ПК, начальный уровень английского, опыт работы в 1С Предприятие 8, CorelDraw.</p>
							
							<div>
								<marquee>
									<img src="static/img/01.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/02.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/03.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/04.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/05.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/06.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/07.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/08.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/09.png" height="48">
									<img src="static/img/00.png" height="48">
									<img src="static/img/10.png" height="48">
									<img src="static/img/00.png" height="48">
								</marquee>
							</div>

						</div>
					</div>
				</article>
			</div>

		
			<div class="wrapper style2">
				<article id="work">
					
					<header>
						</br>
						</br>
					</header>
					
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic04.jpg" alt="" /></a>
									<h3><a href="https://aitin.by/" target="_blank">СООО "Айтин-Про"</a></h3>
									<p>Производство зеркал: программирование станков с ЧПУ, дизайн проекты в CorelDRAW, плоттерная резка</p>
								</article>
							</div>
						
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic05.jpg" alt="" /></a>
									<h3><a href="https://bbinsurance.by/" target="_blank">ОАСО "Би энд Би иншуренс Ко"</a></h3>
									<p>Страховая деятельность: оформление страховых случаев, заключение договоров</p>
								</article>
							</div>
						
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic06.jpg" alt="" /></a>
									<h3><a href="https://komarovka.by/" target="_blank">КТУП "Минский Комаровкий рынок"</a></h3>
									<p>Служба главного энергетика: контроль использования ТЭР, статистика, анализ данных</p>
								</article>
							</div>
						</div>
					</div>
				</article>
			</div>

		
			<div class="wrapper style3">
				<article id="portfolio">
					
					<header>
						</br>
						</br>
					</header>
					
					<div class="container">
						<div class="row">
							
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic01.jpg" alt="" /></a>
									<h3><a href="https://mrk-bsuir.by/ru/" target="_blank">МГВРК</a></h3>
									<p>Инженер - программист,<br>педагог</p>
									
								</article>
							</div>
						
			
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic03.jpg" alt="" /></a>
									<h3><a href="https://itstep.by/" target="_blank">Академия "ШАГ"</a></h3>
									<p>Курс "Ручное и автоматизированное тестирование ПО"</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/sert.png" alt="" /></a>
									<h3><a href="static/img/sert.png" target="_blank">Sololearn Inc.</a></h3>
									<p>Course Certificate:<br>"Сoding for Data"</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/sert2.png" alt="" /></a>
									<h3><a href="static/img/sert2.png" target="_blank">Sololearn Inc.</a></h3>
									<p>Course Certificate:<br>"Сoding for Data"</p>
								</article>
							</div>

							
							
						</div>
					</div>
				</article>
			</div>
		
		
			<div class="wrapper style3">
				<article id="info">
					
					<header>
						</br>
						</br>
					</header>
					
					<div class="container">
						<div class="row">
							
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic07.jpg" alt="" /></a>
									<h3><a >Водительское удостоверение</a></h3>
									<p>Категория B, стаж более 10 лет</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a class="image featured"><img src="static/img/pic08.jpg" alt="" /></a>
									<h3><a >Семейное положение</a></h3>
									<p>Женат,<br>двое детей</p>
								</article>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>

							</div>

						</div>
					</div>
				</article>
			</div>

	</body>
</html>