<!DOCTYPE HTML>

<html>
	<head>
		<title>Peterburtsev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="static/css/main.css" />
		
		<style>
   			.border {
    		border: 1px solid #959595;
   			}
  		</style>
			
		<style>
   			.text-justify { 
    		text-align: justify; /* Выравнивание по ширине */
   			}
  		</style>
		
		
	</head>
	<body>



	<nav>
		<ul class="nav">
			<li>
				<a href="" class="mark">Тестирование UI</a>
					<ul class="sub-nav">
						<li><a href="">Все тесты UI</a></li>

						<li><a href="">Тестирование header и footer</a></li>

						<li><a href="">Тестирование главного меню</a></li>

						<li><a href="">Тестирование строк поиска</a></li>

						<li><a href="">Тестирование данных главной страницы</a></li>

					</ul>
			</li>

			<li>
				<a href="" class="mark">Тестирование API</a>
					<ul class="sub-nav">
						<li><a href="">Все тесты API</a></li>

						<li><a href="">Тестирование статус кода страниц сайта</a></li>

						<li><a href="">Тестирование статус кода строки поиска</a></li>

					</ul>
			</li>

			<li>
				<a href="/run_allure" class="mark">Отчет Allure</a>
			</li>
			<li>
				<a href="" class="mark">Нагрузочное тестирование</a>
					<ul class="sub-nav">
						<li><a href="">Нагрузочное тестирование страниц сайта</a></li>

					</ul>
			</li>

			<li> 	<a href="#top">
					<img src="static/img/up.png" alt="" style="display: block;">
				</a>
			</li>

			<li><a href="#work" class="mark">Работа</a></li>

			<li><a href="#portfolio" class="mark">Образование</a>


			</li>

			<li><a href="#info" class="mark">Информация</a></li>

			<li><a href="#contact" class="mark">Контакты</a></li>



	</nav>
			
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="static/img/pic00.png" alt="" class="border"/></span>
						</div>
						<div class="8u 12u(mobile)">
							<header>
								<h1><strong>Алексей Петербурцев</strong></h1>
							</header>
							<p class="text-justify">Всем привет. Меня зовут Алексей, мне 43 года. Этот сайт расскажет вам краткую информацию обо мне.
							Он содержит данные о моей учебе, работе, контактных данных. В 2025 году я прошел обучение на курсах "Ручное и автоматизированное тестирование ПО"
							в ООО "АЙТИ ШАГ СФЕРА". В составе курса ручное тестирование ПО, язык программирования Python, автоматизация тестирования ПО. Составление тест-кейсов в Trello,
							фиксация багов в Jira. Коммуникабельный, ответственный, пунктуальный. Уверенный пользователь ПК, начальный уровень английского, опыт работы в 1С Предприятие 8, CorelDraw.</p>
						</div>	
					</div>
				</article>
			</div>

		
			<div class="wrapper style2">
				<article id="work">
					
					<header>
						<h2>Работа</h2>
					</header>
					
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic04.jpg" alt="" /></a>
									<h3><a href="#">СООО "Айтин-Про"</a></h3>
									<p>Производство зеркал: программирование станков с ЧПУ, дизайн проекты в CorelDRAW, плоттерная резка</p>
								</article>
							</div>
						
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic05.jpg" alt="" /></a>
									<h3><a href="#">ОАСО "Би энд Би иншуренс Ко"</a></h3>
									<p>Страховая деятельность: оформление страховых случаев, заключение договоров</p>
								</article>
							</div>
						
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic06.jpg" alt="" /></a>
									<h3><a href="#">КТУП "Минский Комаровкий рынок"</a></h3>
									<p>Служба главного энергетика: контроль использования ТЭР, статистика, анализ данных</p>
								</article>
							</div>
						</div>
					</div>
				</article>
			</div>

		
			<div class="wrapper style3">
				<article id="portfolio">
					
					<header>
						<h2>Образование</h2>
					</header>
					
					<div class="container">
						<div class="row">
							
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic01.jpg" alt="" /></a>
									<h3><a href="#">МГВРК</a></h3>
									<p>Инженер - программист,<br>педагог</p>
									
								</article>
							</div>
						
			
							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic03.jpg" alt="" /></a>
									<h3><a href="#">Академия "ШАГ"</a></h3>
									<p>Курс "Ручное и автоматизированное тестирование ПО"</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/sert.png" alt="" /></a>
									<h3><a href="#">Sololearn Inc.</a></h3>
									<p>Course Certificate:<br>"Сoding for Data"</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/sert2.png" alt="" /></a>
									<h3><a href="#">Sololearn Inc.</a></h3>
									<p>Course Certificate:<br>"Python Developer"</p>
								</article>
							</div>

							
							
						</div>
					</div>
				</article>
			</div>
		
		
			<div class="wrapper style3">
				<article id="info">
					
					<header>
						<h2>Информация</h2>
					</header>
					
					<div class="container">
						<div class="row">
							

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic07.jpg" alt="" /></a>
									<h3><a href="#">Водительское удостоверение</a></h3>
									<p>Категория B, стаж более 10 лет</p>
								</article>
							</div>

							<div class="4u 12u(mobile)">
								<article class="box style2">
									<a href="#" class="image featured"><img src="static/img/pic08.jpg" alt="" /></a>
									<h3><a href="#">Семейное положение</a></h3>
									<p>Женат,<br>двое детей</p>
								</article>
							</div>

							

							
							
						</div>
					</div>
				</article>
			</div>



			<div class="wrapper style3">
				<article id="info">
					
					<header>
						<h2>Грамоты, благодарности, награждения</h2>
					</header>
					
					<div>

						<marquee>

							<a href="static/img/gr01.jpg">
							<img src="static/img/gr01.jpg" height="300">
							</a>

							<a href="static/img/gr02.jpg">
							<img src="static/img/gr02.jpg" height="200">
							</a>

							<a href="static/img/gr03.jpg">
							<img src="static/img/gr03.jpg" height="300">
							</a>

							<a href="static/img/gr04.jpg">
							<img src="static/img/gr04.jpg" height="200"">
							</a>

							<a href="static/img/gr05.jpg">
							<img src="static/img/gr05.jpg" height="300">
							</a>

						</marquee>

					</div>
				</article>
			</div>








		
			<div class="wrapper style4">
				<article id="contact" class="container 75%">
					<header>
						<h2>Контакты</h2>
						<p>г.Минск, тел.: +375297536952, email: alexeipeterburtsev@gmail.com</p>
						
						
					</header>
				</article>
			</div>



	</body>
</html>